{% extends 'base.html' %}

{% block content %}

    <main class="container d-flex flex-row justify-content-sm-evenly align-items-center p-5 ">
        <div class="container w-50 ">
            <h1 class="fw-semibold display-1">Conoce a</h1>
            <h2 id="mascotaNombre" class="display-3  ">{{ mascota.nombre }}</h2>
        </div>
        {% if usuario.tipo == 'admin' %}
            <div class="fab-container">
                <div class="fab fab-main">
                    <i class="bi bi-plus-lg">+</i>
                </div>
                <div class="fab fab-option">
                    <a id="btnEditar" title="Editar Mascota" class="">Editar</a>
                </div>
                <div class="fab fab-option">
                    <a id="btnEliminar" title="eliminar">Eliminar</a>
                </div>
            </div>
        {% endif %}
        <div class="container w-25">
            {% if mascota.foto %}
                <img id="mascotaFoto" src="{{ mascota.foto.url }}" alt="{{ mascota.nombre }}"
                     class="img-responsive rounded w-100 rounded-5">
            {% endif %}
        </div>
    </main>

    <section class="text-center p-5 container">
        <p id="mascotaDesc" class="text-dark-emphasis">{{ mascota.estado_salud }}</p>
        <a class="btn btn-secondary" href="{% url 'modulo_refugios' %}">Regresar</a>
    </section>



    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="municipiosModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Actualizar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body" id="body">
                    <form id="mascotaForm" enctype="multipart/form-data"
                          class="container">

                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <p id="mensaje" class="text-bg-success"></p>


{% endblock %}

{% block scripts %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const modal = new bootstrap.Modal(document.getElementById('formModal'));


        document.getElementById('btnEditar').addEventListener('click', (e) => {
            e.preventDefault();

            modal.show();
        });

        document.getElementById('mascotaForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const id = {{ mascota.id }}
            const msg = document.getElementById('mensaje');

            const datos_actualizados = {
                nombre: document.getElementById('id_nombre').value,
                especie: document.getElementById('id_especie').value,
                edad: document.getElementById('id_edad').value,
                sexo: document.getElementById('id_sexo').value,
                tam: document.getElementById('id_tam').value,
                estado_salud: document.getElementById('id_estado_salud').value,
                estado: document.getElementById('id_estado').value,
                refugio: document.getElementById('id_refugio').value,
            }

            try {
                const r = await fetch(`/api/v1/mascotas/${id}/`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                    body: JSON.stringify(datos_actualizados)
                });

                if (r.ok) {
                    const data = await r.json();
                    console.log(data);
                    msg.textContent = "✅ Mascota actualizada correctamente";
                    document.getElementById('mascotaNombre').textContent = data.nombre;
                    const logo = document.getElementById('refugioLogo');
                    document.getElementById('mascotaDesc').textContent = data.estado_salud;
                    modal.hide();
                } else {
                    msg.textContent = await r.text();
                }
            } catch (e) {
                console.log(e);
                document.getElementById('mensaje').textContent = "⚠️ Error de conexión con el servidor.";
            }
        })

        document.getElementById('btnEliminar').addEventListener('click', async (e) => {
            e.preventDefault()
            const id = {{ mascota.id }};

            try {
                const r = await fetch(`/api/v1/mascotas/${id}/`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),
                    }
                })

                if (r.ok) {

                    window.location.href = "{% url 'modulo_refugios'  %}";
                } else {
                    const error = await r.text();
                    console.log(error)
                }
            } catch (e) {
                console.error(e);
                document.getElementById('mensaje').textContent = "⚠️ Error de conexión con el servidor.";
            }

        })
    </script>
{% endblock %}