{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                {{ error }}
                <h2 class="pt-5 text-center">Detalles del usuario</h2>

                <form id="formUsuario" class="card card-body">
                    <div class="mb-3">
                        <label for="first_name" class="form-label">
                            Nombre
                        </label>
                        <input class="form-control" type="text" id="first_name" placeholder="nombre"
                               value="{{ usuario.first_name }}"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="last_name">
                            Apellido
                        </label>
                        <input class="form-control" type="text" id="last_name" placeholder="Apellido"
                               value="{{ usuario.last_name }}"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="username" class="form-label">
                            Usuario
                        </label>
                        <input class="form-control" type="text" id="username" placeholder="Nombre de usuario"
                               value="{{ usuario.username }}"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">
                            Correo
                        </label>
                        <input class="form-control" type="email" id="email" placeholder="Correo electrónico"
                               value="{{ usuario.email }}"
                               required>
                    </div>

                    <div class="mb-3">
                        <label for="tipo" class="form-label">
                            Tipo
                        </label>
                        <select id="tipo" class="form-select">
                            <option value="adoptante">Adoptante</option>
                            <option value="director">Director</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">Actualizar</button>

                </form>

                <button id="btnEliminar" class="btn btn-danger mb-3">Delete</button>
                <button class="btn btn-success mb-3"><a class="nav-link" href="{% url 'modulo_usuarios' %}">Hecho</a>
                </button>

                <p id="mensaje"></p>

                <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="municipiosModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Exito</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-body" id="body">
                                El usuario se actualizo correctamente.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock %}

{% block scripts %}
    <script>
        const msg = document.getElementById('mensaje');

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.getElementById('formUsuario').addEventListener('submit', async (e) => {
            e.preventDefault()

            const id = {{ usuario.id }};

            const datos_actualizados = {
                first_name: document.getElementById('first_name').value,
                last_name: document.getElementById('last_name').value,
                username: document.getElementById('username').value,
                email: document.getElementById('email').value,
                tipo: document.getElementById('tipo').value,
            };

            try {
                const r = await fetch(`/api/v1/customUsers/${id}/`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),

                    },
                    body: JSON.stringify(datos_actualizados)
                });

                const text = await r.text();
                console.log("Respuesta:", text);
                if (r.ok) {
                    msg.textContent = "✅ Usuario actualizado correctamente.";
                    msg.style.color = "green";
                    const modal = new bootstrap.Modal(document.getElementById('infoModal'));
                    modal.show();
                } else {
                    const error = await r.text();
                    msg.textContent = "❌ Error al actualizar: " + error;
                    msg.style.color = "red";
                }
            } catch (e) {
                console.error(e);
                document.getElementById('mensaje').textContent = "⚠️ Error de conexión con el servidor.";
            }
        });

        document.getElementById('btnEliminar').addEventListener('click', async (e) => {
            e.preventDefault()
            const id = {{ usuario.id }};

            try {
                const r = await fetch(`/api/v1/customUsers/${id}/`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),
                    }
                })

                if (r.ok) {
                    msg.textContent = "✅ Usuario eliminado correctamente.";
                    msg.style.color = "green";
                    document.getElementById('body').textContent = '✅ Usuario eliminado correctamente'
                    const modal = new bootstrap.Modal(document.getElementById('infoModal'));
                    modal.show();
                    window.location.href = "modulo_usuarios.html";
                } else {
                    const error = await r.text();
                    msg.textContent = "❌ Error al eliminar: " + error;
                    msg.style.color = "red";
                }
            } catch (e) {
                console.error(e);
                document.getElementById('mensaje').textContent = "⚠️ Error de conexión con el servidor.";
            }

        })

    </script>
{% endblock %}