{% extends 'base.html' %}

{% block nav %}
    {% if user.tipo == "admin" %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'modulo_usuarios' %}">Modulo de usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Modulo de mascotas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'modulo_refugios' %}">Modulo de refugios</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Pagina de inicio</h2>
    {{ user.tipo }}
{% endblock %}